* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --white-wash: #f9f9f9;
    --black-wash: #090909;
    --grey: rgba(255,255,255,0.6);
    --light-grey: rgba(255,255,255,0.1);
    --lighter-grey: rgba(255,255,255,0.03);
    --font-text: Helvetica, sans-serif;
    --font-code: Courier, monospace;
    
    --text-color: var(--grey);
    --background-color: var(--black-wash);
    
    line-height: 1.5;
    letter-spacing: 0.5px;
    margin: 0;
    padding: 0;
    font-family: var(--font-text);
    color: var(--text-color);
    background-color: var(--background-color);
}

h1 {
    font-size: 2em;
    font-weight: 600;
    color: var(--white-wash);
}

h2 {
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--white-wash);
}

h3 {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white-wash);
}

h4 {
    font-size: 1rem;
    font-weight: 300;
}

h5 {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--white-wash);
}

h6 {
    font-size: 0.9rem;
    font-weight: 300;
}

p {
    font-size: 0.85rem;
    font-weight: 300;
}

a {
    font-size: 0.9rem;
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 0.5px solid;
}

a:hover {
    opacity: 0.85;
}

pre {
    overflow-x: scroll;
}

.white {
    color: white;
}

.grey {
    color: var(--light-grey);
}

.underline {
    border-bottom: 0.5px solid;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-wash);
    z-index: 9;
}

nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 1rem 2rem;
    border: 1px solid var(--light-grey);
    gap: 1.5rem
}

nav a {
    border: none;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
}

nav a:hover {
    opacity: 1;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

.right-nav {
    margin-left: auto;
}

nav ul li a {
    border: none;
    text-decoration: none;
    font-weight: 300;
    font-size: 0.9rem;
}

nav ul li a:hover {
    opacity: 0.9;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    min-height: 100vh;
    border: 1px solid var(--light-grey);
}

menu {
    position: fixed;
    padding: 5rem 2rem;
    min-width: 200px;
    border: 0.5px solid var(--light-grey);
    height: 100%;
    background-color: var(--black-wash);
    z-index: 1;
}

menu h5 {
    margin-bottom: 1rem;
}

menu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

menu ul li a {
    text-decoration: none;
    border: none;
    color: var(--white-wash);
}

menu ul li a:hover {
    border-bottom: 0.5px solid;
    opacity: 1;
}

.submenu {
    padding-left: 1rem;
    padding-top: 0.5rem;
}

.submenu ul li a {
    color: var(--light-grey);
}

.container {
    width: 100%;
    padding: 5rem 2rem 5rem 15rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
    min-height: 100vh;
}

.home {
    padding: 5rem 2rem;
}

.hero {
    padding-top: 2rem;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    padding: 1rem 0;
}

.navigation {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.preview, .usage {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    margin: 1.5rem 0;
}

.preview {
    min-height: 35vh;
}

.usage {
    gap: 1rem;
}

.code-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.code-content {
    width: 100%;
}

.codebox {
    border-radius: 6px;
    border: 1px solid var(--light-grey);
    background-color: var(--lighter-grey);
    padding: 1.5rem;
    font-family: var(--font-code);
    margin: 0.5rem 0;
    width: 100%;
}

/* Card */
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid var(--light-grey);
    border-radius: 6px;
    padding: 3rem;
    margin: 1rem 0;
    height: 100%;
}

/* Accordion */
.accordion {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0;
}

.togglebox {
    border-bottom: 0.5px solid var(--grey);
    cursor: pointer;
}

input[type='radio'] {
    position: absolute;
    opacity: 0;
}

label {
    position: relative;
    display: block;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    color: var(--white-wash);
    padding: 1rem 0;
}

.togglebox p {
    color: var(--white-wash);
}

section {
    height: 0;
    transition: 0.3s all;
    overflow: hidden;
}

#toggle1:checked ~ #content1,
#toggle2:checked ~ #content2,
#toggle3:checked ~ #content3 {
    height: calc(20vh - 8vw);
}

/* Button */
button, .button {
    font-weight: 500;
    border: 0.5px solid;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    padding: 0.7em 1.3em;
}

button:hover {
    opacity: 0.9;
}

.primary {
    background-color: var(--white-wash);
    color: var(--black-wash);
    border-color: var(--white-wash);
}

.secondary {
    background-color: var(--light-grey);
    color: var(--white-wash);
    border-color: var(--light-grey);
}

.outline {
    background-color: transparent;
    color: var(--white-wash);
    border-color: var(--white-wash);
}

#primary, #secondary, #outline {
    scroll-margin-top: 5rem;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9;
    background-color: var(--black-wash);
}

footer container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1200px;
    width: 100%;
    padding: 2rem;
    border: 1px solid var(--light-grey);
}

footer p, a {
    color: var(--grey);
}

@media (max-width: 1200px) {
    menu {
        display: none;
    }

    .container {
        padding: 5rem 2rem;
    }

    .preview {
        min-height: 55vh;
    }
}