* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --white-wash: #f9f9f9;
    --black-wash: #090909;
    --grey: rgba(255,255,255,0.6);
    --light-grey: rgba(255,255,255,0.1);
    --lighter-grey: rgba(255,255,255,0.03);
    --font-text: Helvetica, sans-serif;
    --font-code: Courier, monospace;
    
    --text-color: var(--grey);
    --background-color: var(--black-wash);
    
    line-height: 1.5;
    letter-spacing: 0.5px;
    margin: 0;
    padding: 0;
    font-family: var(--font-text);
    color: var(--text-color);
    background-color: var(--background-color);
}

h1 {
    font-size: 2em;
    font-weight: 600;
    color: var(--white-wash);
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white-wash);
}

h3 {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--white-wash);
}

h4 {
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--white-wash);
}

h5 {
    font-size: 1rem;
    font-weight: 300;
}

p {
    font-size: 0.85rem;
    font-weight: 300;
}

a {
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    color: var(--text-color);
    text-decoration: none;
    border-bottom: 0.5px solid;
}

pre {
    overflow-x: scroll;
}

a:hover {
    opacity: 0.85;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-wash);
    z-index: 9;
}

nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 1rem 2rem;
    border: 1px solid var(--light-grey);
}

nav a {
    border: none;
    text-decoration: none;
    color: var(--white-wash);
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 6rem 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--light-grey);
    gap: 4rem;
}

.preview, .usage {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.codebox {
    border-radius: 6px;
    border: 1px solid var(--light-grey);
    background-color: var(--lighter-grey);
    padding: 1.5rem;
    font-family: var(--font-code);
    margin: 0.5rem 0;
}

/* Accordion */
.accordion {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0;
}

.togglebox {
    border-bottom: 1px solid var(--grey);
    cursor: pointer;
}

input[type='radio'] {
    position: absolute;
    opacity: 0;
}

label {
    position: relative;
    display: block;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    color: var(--white-wash);
    padding: 1rem 0;
}

.togglebox p {
    color: var(--white-wash);
}

section {
    height: 0;
    transition: 0.25s all;
    overflow: hidden;
}

#toggle1:checked ~ #content1,
#toggle2:checked ~ #content2,
#toggle3:checked ~ #content3 {
    height: calc(15vh - 7vw);;
}

footer {
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1200px;
    width: 100%;
    padding: 2rem;
    border: 1px solid var(--light-grey);
}

footer p, a {
    color: var(--grey);
}