<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="../../media/favicon.svg" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Checkbox - CSSential</title>
        <link rel="stylesheet" href="../../styles.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="/cssential" class="logo white">
                    <img src="../../media/logo.svg"/>
                    CSSential
                </a>
                <ul>
                    <li><a href="/cssential/components/accordion/" class="white">Components</a></li>
                    <li><a href="https://github.com/idematos/cssential" target="_blank">Code</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <menu>
                <h5>Components</h5>
                <ul>
                    <li><a href="/cssential/components/accordion/">Accordion</a></li>
                    <li><a href="/cssential/components/button/">Button</a>
                    <li><a class="underline" href="/cssential/components/checkbox/">Checkbox</a>
                    <li><a href="/cssential/components/dropdown/">Dropdown</a>
                    <li><a href="/cssential/components/tooltip/">Tooltip</a> 
                </ul>
            </menu>
            <div class="container">
                <div class="navigation">
                    <h6>Components</h6>
                    <h6>/</h6>
                    <h6 class="white">Checkbox</h6>
                </div>
                <h1>Checkbox</h1>
                <h4>A control that allows the user to toggle between checked and not checked.</h4>
                <div class="preview">
                    <div class="card">
                        <div class="checkbox-container">
                            <label class="checkbox" for="spam">
                                <input type="checkbox" id="spam" name="spam">
                                <span></span>
                            </label>
                            <label for="spam" id="checkbox-label">Yes! Send me regular email spam</label>
                        </div>
                    </div>
                </div>
                <div class="usage">
                    <div class="code-container">
                        <div class="code-content">
                            <h5>HTML</h5>
                            <div class="codebox">
                                <pre>
&lt;div class="checkbox-container"&gt;
    &lt;label class="checkbox" for="spam"&gt;
        &lt;input type="checkbox" id="spam" name="spam"&gt;
        &lt;span&gt;&lt;/span&gt;
    &lt;/label&gt;
    &lt;label id="checkbox-label" for="spam"&gt;Yes! Send me regular email spam&lt;/label&gt;
&lt;/div&gt;
                                </pre>
                            </div>
                        </div>

                    <div class="code-content">
                        <h5>CSS</h5>
                        <div class="codebox">
                            <pre>
.checkbox-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}

input[type="checkbox"] {
    display: none;
}

.checkbox span {
    width: 18px; 
    height: 18px; 
    border: 1.5px solid white; 
    background-color: transparent; 
    display: inline-block;
    border-radius: 4px;
    position: relative;
    transition: background-color 0.2s ease;
}
    
.checkbox span::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 11px;
    border: solid black;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    left: 5px;
    opacity: 0;
    transition: opacity 0.2s ease;
}
    
input[type="checkbox"]:checked + span {
    background-color: white;
}
    
input[type="checkbox"]:checked + span::after {
    color: black;
    opacity: 1;
}

#checkbox-label {
    font-size: 1rem;
    font-weight: 300;
    color: white;
}                             
                            </pre>
                        </div>  
                    </div>
                </div>
                <div class="pagination-container">
                    <a class="button ghost" href="/cssential/components/button/">
                        <img src="../../media/icons/chevron-left.svg">
                        Button
                    </a>
                    <a class="button ghost" href="/cssential/components/dropdown/">
                        Dropdown
                        <img src="../../media/icons/chevron-right.svg">
                    </a>
                </div>
            </div>
        </main>
    </body>
    <footer>
        <container>
            <p>Built by <a href="https://github.com/idematos" target="_blank">idematos</a>. The source code is available on <a href="https://github.com/idematos/cssential" target="_blank">GitHub</a>.</p>
        </container>
    </footer>
</html>
