<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Button - CSSential</title>
        <link rel="stylesheet" href="../../styles.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="/" class="white">
                    CSSential
                </a>
                <ul>
                    <li><a href="/components/accordion/index.html" class="white">Components</a></li>
                    <li><a href="https://github.com/idematos/cssential" target="_blank">Code</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <menu>
                <h5>Components</h5>
                <ul>
                    <li><a href="/components/accordion/index.html">Accordion</a></li>
                    <li><a class="underline" href="/components/button/index.html">Button</a></li>
                </ul>
            </menu>
            <div class="container">
                <div class="navigation">
                    <h6>Components</h6>
                    <h6>/</h6>
                    <h6 class="white">Button</h6>
                </div>
                <h1>Button</h1>
                <h4>A minimally designed button.</h4>
                
                <!-- Primary -->
                <div class="preview">
                    <h3>Primary</h3>
                    <div class="card">
                        <button class="primary">
                            Button
                        </button>
                    </div>
                </div>

                <div class="usage">
                    <div class="code-container">
                        <div class="code-content">
                            <h5>HTML</h5>
                            <div class="codebox">
                                <pre>
&lt;button class="primary"&gt;
    Button
&lt;/button&gt;
                                </pre>
                            </div>
                        </div>
                        <div class="code-content">
                            <h5>CSS</h5>
                            <div class="codebox">
                                <pre>
button {
    font-weight: 500;
    border: 0.5px solid;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5rem 1.3rem;
}

button:hover {
    opacity: 0.9;
}

.primary {
    background-color: white;
    color: black;
    border-color: white;
}
                                </pre>
                            </div>  
                        </div>
                    </div>
                </div>

                <!-- Secondary -->
                <div class="preview">
                    <h3>Secondary</h3>
                    <div class="card">
                        <button class="secondary">
                            Secondary
                        </button>
                    </div>
                </div>

                <div class="usage">
                    <div class="code-container">
                        <div class="code-content">
                            <h5>HTML</h5>
                            <div class="codebox">
                                <pre>
&lt;button class="secondary"&gt;
    Secondary
&lt;/button&gt;
                                </pre>
                            </div>
                        </div>
                        <div class="code-content">
                            <h5>CSS</h5>
                            <div class="codebox">
                                <pre>
button {
    font-weight: 500;
    border: 0.5px solid;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5rem 1.3rem;
}

button:hover {
    opacity: 0.9;
}

.secondary {
    background-color: gray;
    color: white;
    border-color: gray;
}
                                </pre>
                            </div>  
                        </div>
                    </div>
                </div>

                <!-- Outline -->
                <div class="preview">
                    <h3>Outline</h3>
                    <div class="card">
                        <button class="outline">
                            Outline
                        </button>
                    </div>
                </div>

                <div class="usage">
                    <div class="code-container">
                        <div class="code-content">
                            <h5>HTML</h5>
                            <div class="codebox">
                                <pre>
&lt;button class="outline"&gt;
    Outline
&lt;/button&gt;
                                </pre>
                            </div>
                        </div>
                        <div class="code-content">
                            <h5>CSS</h5>
                            <div class="codebox">
                                <pre>
button {
    font-weight: 500;
    border: 0.5px solid;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5rem 1.3rem;
}

button:hover {
    opacity: 0.9;
}

.outline {
    background-color: transparent;
    color: white;
    border-color: white;
}
                                </pre>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
    <footer>
        <container>
            <p>Built by <a href="https://github.com/idematos" target="_blank">idematos</a>. The source code is available on <a href="https://github.com/idematos/cssential" target="_blank">GitHub</a>.</p>
        </container>
    </footer>
</html>