<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="../../media/favicon.svg" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Button - CSSential</title>
        <link rel="stylesheet" href="../../styles.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="/cssential" class="logo white">
                    <img src="../../media/logo.svg"/>
                    CSSential
                </a>
                <ul>
                    <li><a href="/cssential/components/accordion/" class="white">Components</a></li>
                    <li><a href="https://github.com/idematos/cssential" target="_blank">Code</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <menu>
                <h5>Components</h5>
                <ul>
                    <li><a href="/cssential/components/accordion/">Accordion</a></li>
                    <li><a class="underline" href="/cssential/components/button/">Button</a>
                        <ul class="submenu">
                            <li><a class="grey" href="#primary">Primary</a></li>
                            <li><a class="grey" href="#secondary">Secondary</a></li>
                            <li><a class="grey" href="#outline">Outline</a></li>
                            <li><a class="grey" href="#ghost">Ghost</a></li>
                            <li><a class="grey" href="#icon">Icon</a></li>
                            <li><a class="grey" href="#with-icon">With Icon</a></li>
                        </ul>
                    </li>
                    <li><a href="/cssential/components/checkbox/">Checkbox</a>
                    <li><a href="/cssential/components/dropdown/">Dropdown</a>
                    <li><a href="/cssential/components/tooltip/">Tooltip</a> 
                </ul>
            </menu>
            <div class="container">
                <div class="navigation">
                    <h6>Components</h6>
                    <h6>/</h6>
                    <h6 class="white">Button</h6>
                </div>
                <h1>Button</h1>
                <h4>A minimally designed button.</h4>
                
                <!-- Primary -->
                <div class="preview">
                    <h3 id="primary">Primary</h3>
                    <div class="card">
                        <button class="primary">
                            Button
                        </button>
                    </div>
                </div>

                <div class="usage">
                    <div class="code-container">
                        <div class="code-content">
                            <h5>HTML</h5>
                            <div class="codebox">
                                <pre>
&lt;button class="primary"&gt;
    Button
&lt;/button&gt;
                                </pre>
                            </div>
                        </div>
                        <div class="code-content">
                            <h5>CSS</h5>
                            <div class="codebox">
                                <pre>
button {
    font-weight: 500;
    border: 0.5px solid;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    padding: 0.8em 1.2em;
}

button:hover {
    opacity: 0.9;
}

.primary {
    background-color: white;
    color: black;
    border-color: white;
}
                                </pre>
                            </div>  
                        </div>
                    </div>
                </div>

                <!-- Secondary -->
                <div class="preview">
                    <h3 id="secondary">Secondary</h3>
                    <div class="card">
                        <button class="secondary">
                            Secondary
                        </button>
                    </div>
                </div>

                <div class="usage">
                    <div class="code-container">
                        <div class="code-content">
                            <h5>HTML</h5>
                            <div class="codebox">
                                <pre>
&lt;button class="secondary"&gt;
    Secondary
&lt;/button&gt;
                                </pre>
                            </div>
                        </div>
                        <div class="code-content">
                            <h5>CSS</h5>
                            <div class="codebox">
                                <pre>
button {
    font-weight: 500;
    border: 0.5px solid;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    padding: 0.8em 1.2em;
}

button:hover {
    opacity: 0.9;
}

.secondary {
    background-color: gray;
    color: white;
    border-color: gray;
}
                                </pre>
                            </div>  
                        </div>
                    </div>
                </div>

                <!-- Outline -->
                <div class="preview">
                    <h3 id="outline">Outline</h3>
                    <div class="card">
                        <button class="outline">
                            Outline
                        </button>
                    </div>
                </div>

                <div class="usage">
                    <div class="code-container">
                        <div class="code-content">
                            <h5>HTML</h5>
                            <div class="codebox">
                                <pre>
&lt;button class="outline"&gt;
    Outline
&lt;/button&gt;
                                </pre>
                            </div>
                        </div>
                        <div class="code-content">
                            <h5>CSS</h5>
                            <div class="codebox">
                                <pre>
button {
    font-weight: 500;
    border: 0.5px solid;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    padding: 0.8em 1.2em;
}

.outline {
    background-color: transparent;
    color: white;
    border-color: white;
}

.outline:hover {
    background-color: gray;
}
                                </pre>
                            </div>  
                        </div>
                    </div>
                </div>


                <!-- Ghost -->
                <div class="preview">
                    <h3 id="ghost">Ghost</h3>
                    <div class="card">
                        <button class="ghost">
                            Ghost
                        </button>
                    </div>
                </div>

                <div class="usage">
                    <div class="code-container">
                        <div class="code-content">
                            <h5>HTML</h5>
                            <div class="codebox">
                                <pre>
&lt;button class="ghost"&gt;
    Ghost
&lt;/button&gt;
                                </pre>
                            </div>
                        </div>
                        <div class="code-content">
                            <h5>CSS</h5>
                            <div class="codebox">
                                <pre>
.ghost {
    background-color: transparent;
    color: white;
    border-color: transparent;
}

.ghost:hover {
    background-color: gray;
    border-color: gray;
}                                    
                                </pre>
                            </div>  
                        </div>
                    </div>
                </div>

                <!-- Icon -->
                <div class="preview">
                    <h3 id="icon">Icon</h3>
                    <div class="card">
                        <button class="icon">
                            <img src="../../media/icons/copy.svg" />
                        </button>
                    </div>
                </div>

                <div class="usage">
                    <div class="code-container">
                        <div class="code-content">
                            <h5>HTML</h5>
                            <div class="codebox">
                                <pre>
&lt;button class="icon"&gt;
    &lt;img src="../../media/icons/copy.svg" /&gt;
&lt;/button&gt;
                                </pre>
                            </div>
                        </div>
                        <div class="code-content">
                            <h5>CSS</h5>
                            <div class="codebox">
                                <pre>
button {
    font-weight: 500;
    border: 0.5px solid;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    padding: 0.8em 1.2em;
}

.icon {
    background-color: transparent;
    border-color: gray;
    padding: 1em;
}

.icon img {
    height: 28px;
    width: 28px;
}

.icon:hover {
    background-color: gray;
}
                                </pre>
                            </div>  
                        </div>
                    </div>
                </div>

                <!-- With Icon -->
                <div class="preview">
                    <h3 id="with-icon">With Icon</h3>
                    <div class="card">
                        <button class="with-icon">
                            Next
                            <img src="../../media/icons/arrow-right.svg" />
                        </button>
                    </div>
                </div>

                <div class="usage">
                    <div class="code-container">
                        <div class="code-content">
                            <h5>HTML</h5>
                            <div class="codebox">
                                <pre>
&lt;button class="with-icon"&gt;
    Next
    &lt;img src="../../media/icons/arrow-right.svg" /&gt;
&lt;/button&gt;
                                </pre>
                            </div>
                        </div>
                        <div class="code-content">
                            <h5>CSS</h5>
                            <div class="codebox">
                                <pre>
button {
    font-weight: 500;
    border: 0.5px solid;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    padding: 0.8em 1.2em;
}

.with-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    border-color: white;
    gap: 0.5em;
}

.with-icon img {
    height: 18px;
    width: 18px;
}
                                </pre>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="pagination-container">
                    <a class="button ghost" href="/cssential/components/accordion/">
                        <img src="../../media/icons/chevron-left.svg">
                        Accordion
                    </a>
                    <a class="button ghost" href="/cssential/components/checkbox/">
                        Checkbox
                        <img src="../../media/icons/chevron-right.svg">
                    </a>
                </div>
            </div>
        </main>
    </body>
    <footer>
        <container>
            <p>Built by <a href="https://github.com/idematos" target="_blank">idematos</a>. The source code is available on <a href="https://github.com/idematos/cssential" target="_blank">GitHub</a>.</p>
        </container>
    </footer>
</html>