<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Accordion - CSSential</title>
        <link rel="stylesheet" href="../../styles.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="/cssential" class="white">
                    CSSential
                </a>
                <ul>
                    <li><a href="/cssential/components/accordion/" class="white">Components</a></li>
                    <li><a href="https://github.com/idematos/cssential" target="_blank">Code</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <menu>
                <h5>Components</h5>
                <ul>
                    <li><a class="underline" href="/cssential/components/accordion/">Accordion</a></li>
                    <li><a href="/cssential/components/button/">Button</a></li>
                </ul>
            </menu>
            <div class="container">
                <div class="navigation">
                    <h6>Components</h6>
                    <h6>/</h6>
                    <h6 class="white">Accordion</h6>
                </div>
                <h1>Accordion</h1>
                <h4>A vertically stacked set of interactive headings that allows content to be expanded.</h4>
                <div class="preview">
                    <div class="card">
                        <div class="accordion">
                            <div class="togglebox">
                                <input id="toggle1" type="radio" name="toggle" />
                                <label for="toggle1">Is it small? </label>
                                <section id="content1">
                                    <p>Yes. It doesn't require any additional libraries, frameworks, or JavaScript files.</p>
                                </section>
                            </div>
                            <div class="togglebox">
                                <input id="toggle2" type="radio" name="toggle" />
                                <label for="toggle2">Is it reliable?</label>
                                <section id="content2">
                                    <p>Yes. Works well on all browsers, as it relies on fundamental CSS features. Also, it will function even if JavaScript is disabled or not supported.</p>
                                </section>
                            </div>
                            <div class="togglebox">
                                <input id="toggle3" type="radio" name="toggle" />
                                <label for="toggle3">Is it customizable?</label>
                                <section id="content3">
                                    <p>Yes, it is highly customizable. Developers can easily adjust colors, spacing, and animations.</p>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="usage">
                    <div class="code-container">
                        <div class="code-content">
                            <h5>HTML</h5>
                            <div class="codebox">
                                <pre>
&lt;div class="accordion"&gt;
    &lt;div class="togglebox"&gt;
        &lt;input id="toggle1" type="radio" name="toggle"&nbsp;/&gt;
        &lt;label for="toggle1"&gt;Is it small?&lt;/label&gt;
        &lt;section id="content1"&gt;
            &lt;p&gt;Yes. It doesn't require any additional libraries, frameworks, or JavaScript files.&lt;/p&gt;
        &lt;/section&gt;
    &lt;/div&gt;
    &lt;div class="togglebox"&gt;
        &lt;input id="toggle2" type="radio" name="toggle"&nbsp;/&gt;
        &lt;label for="toggle2"&gt;Is it reliable?&lt;/label&gt;
        &lt;section id="content2"&gt;
            &lt;p&gt;Yes. Works well on all browsers, as it relies on fundamental CSS features. Also, it will function even if JavaScript is disabled or not supported.&lt;/p&gt;
        &lt;/section&gt;
    &lt;/div&gt;
    &lt;div class="togglebox"&gt;
        &lt;input id="toggle3" type="radio" name="toggle"&nbsp;/&gt;
        &lt;label for="toggle3"&gt;Is it customizable?&lt;/label&gt;
        &lt;section id="content3"&gt;
            &lt;p&gt;Yes, it is highly customizable. Developers can easily adjust colors, spacing, and animations.&lt;/p&gt;
        &lt;/section&gt;
    &lt;/div&gt;
&lt;/div&gt;
                                </pre>
                            </div>
                        </div>

                    <div class="code-content">
                        <h5>CSS</h5>
                        <div class="codebox">
                            <pre>
.accordion {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0;
}

.togglebox {
    border-bottom: 1px solid gray;
    cursor: pointer;
}

input[type='radio'] {
    position: absolute;
    opacity: 0;
}

label {
    position: relative;
    display: block;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    color: white;
    padding: 1rem 0;
}

.togglebox p {
    color: white;
}

section {
    height: 0;
    transition: 0.25s all;
    overflow: hidden;
}

#toggle1:checked ~ #content1,
#toggle2:checked ~ #content2,
#toggle3:checked ~ #content3 {
    height: calc(15vh - 7vw);;
}
                            </pre>
                        </div>  
                    </div>
                </div>
            </div>
        </main>
    </body>
    <footer>
        <container>
            <p>Built by <a href="https://github.com/idematos" target="_blank">idematos</a>. The source code is available on <a href="https://github.com/idematos/cssential" target="_blank">GitHub</a>.</p>
        </container>
    </footer>
</html>